body{
  font-family: arial;
  background-color: rgb(31, 71, 126);

}
.wrapper{
  width: 100%;
  text-align: center;
}

.column_left{
  width: 40%;
  max-width: 100px;
  float: left;
}


.sketchpad{
  width: 600px;
  margin: 100px auto;
  border-style: solid; /* Erase after completion */
  border-width: thin;  /* Erase after completion */
  background-color: white;
}

.grid{
  border-style: solid; /* Erase after completion */
  border-width: thin;  /* Erase after completion */
  padding: 1px;
  float: left;
  background-color: white;
}

.text_input{
  width: 40px;
}

.button{
  width: 150x;
}

.nav{
  text-align: center;
}

ul{
  list-style: none;
}

#header{
  text-align: center;
}
